{>"{cd}/main.html"/}
{<content}
  <br>
<div class="cell">
  <h1 class="page_title">О компании</h1>
  <div class="text">
ООО «АСТ-Консалтинг Финанс» – микрофинансовая организация, специализирующаяся на предоставлении микрозаймов , выдаваемых под обеспечение заявок для участия в аукционах в электронной форме на ЭТП «Сбербанк –АСТ».

Компания внесена 29 августа 2013 г. Федеральной службой по финансовым рынкам в Государственный реестр микрофинансовых организаций за основным государственным номером 651303140003927.
  </div><br>
   <div>
  <h1 class="page_title">Наши реквизиты:</h1>
<div class="text">
ООО «АСТ-Консалтинг Финанс»<br>
Юр. адрес: 197374 г. Санкт-Петербург, ул. Торфяная дорога 7, литер Ф, офис №1408<br>

ИНН 7814578570 / КПП 781401001<br>

Юридический адрес/фактический адрес: 197374 г. Санкт-Петербург, ул. Торфяная дорога 7, литер Ф, офис №1408<br>

ИНН/КПП: 7814578570 / 781401001<br>

Р/c: 40702810532280000278 в Филиале «Санкт-Петербургский» ОАО «АЛЬФА-БАНК»<br>

К/c: 30101810600000000786<br>

БИК: 044030786<br>

ОГРН: 1137847258867
  </div>
     </div>
</div>
{/content}