{>"{cd}/main.html"/}
{<content}
<div id="alert_div" style="display: none" class="alert alert-success"></div>
<table class="table table-condensed">
  <thead>
  <tr>
    <th>Пользователь</th>
    <th>Компании</th>
  </tr>
  </thead>
  {#users}
  <tr id="tr{id}">
    <td style="width: 50%;">{surname} {name}   {tel}</td>
    <td>
      <ul class="">
      {#company}
      <li id="{id}"><a href="{#url cid=id}site.requests{/url}">{companyname} {companyinn}</a></li>
      {/company}
      </ul>
    </td>
  </tr>
  {/users}
</table>
{/content}