{>"{cd}/main.html"/}
{<content}
<div id="alert_div" style="display: none" class="alert alert-success"></div>
<table class="table table-condensed">
  <thead>
  <tr>
    <th>Пользователь</th>
    <th>Заявки</th>
  </tr>
  </thead>
  {#users}
  <tr id="tr{id}">
    <td style="width: 50%;"><a href="{#url uid=id}site.cabinet{/url}">{surname} {name}</a></td>
    <td>
      <a href="{#url req_id=id}site.request{/url}"><span id="edit{id}" class="glyphicon glyphicon-pencil"></span></a>
      <a href="#"><span id="del{id}" class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>
  {/users}
</table>
{/content}