{>"{cd}/main.html"/}
{<content}
  <h4>{user.model.surname} {user.model.name} {user.model.patronymic}</h4>
<div id="alert_div" style="display: none" class="alert alert-success"></div>
<h4>Компании <small style="cursor: hand;" onclick="$('.window._com,.overlay').show();">добавить</small></h4>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Название</th>
      <th>Инн</th>
      <th>Заявки</th>
    </tr>
  </thead>
  {#companies}
  <tr id="tr{id}">
    <td><a href="{#url cid=id}site.requests{/url}">{companyname}</a></td>
    <td>{companyinn}</td>
    <td>
      <ul class="">
        {#requests}
        <li id="{id}">{name}
          <a href="{#url req_id=id}site.request{/url}"><span id="editr{id}" class="glyphicon glyphicon-pencil"></span></a>
          <a><span id="delr{id}" class="glyphicon glyphicon-trash"></span></a>
        </li>
        {/requests}
        <li><a href="{#url req_id=0 cid=id}site.request{/url}">Еще</a> </li>
      </ul>
    </td>
    <td>
      <a href="{#url c_id=id}site.company{/url}"><span id="edit{id}" class="glyphicon glyphicon-pencil"></span></a>
      <a href="#"><span id="del{id}" class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>
  {/companies}
</table>
{/content}
{<window}
<div class="window _com" style="margin-top:-150px;">
    <div class="title">Добавить компанию</div>
    <form id="com" method="post"  action="{#url}user.create_company{/url}" role="form">
        <ul>
            <li>
                <div class="cell">Название</div>
                <div class="cell">
                    <div class="Input">
                        <input name="company[companyname]" type="text" class="form-control" id="name" placeholder="Название" value="{company.companyname}">
                    </div>
                </div>
            </li>
            <li>
                <div class="cell">ИНН</div>
                <div class="cell">
                    <div class="Input">
                        <input name="company[companyinn]" type="text" class="form-control" id="inn" value="{company.companyinn}" placeholder="ИНН">
                    </div>
                </div>
            </li>
        </ul>
        <div class="btn">
            <div class="Button Second" onclick="$('.window._com,.overlay').hide();">отмена</div>
            <div class="Button" onclick="$('#com').submit();">ОК</div>
        </div>
        <form>
</div>
{/window}
