{>"{cd}/main.html"/}
{<content}
  <h4>{user.surname} {user.name} {user.patronymic}</h4>
<div id="alert_div" style="display: none" class="alert alert-success"></div>

<!--<table class="table table-condensed">-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>Название</th>-->
      <!--<th>Дата заявки</th>-->
      <!--<th>Период</th>-->
      <!--<th>Крайний срок</th>-->
      <!--<th>Сумма</th>-->
      <!--<th>Файлы</th>-->
      <!--<th>Действия</th>-->
    <!--</tr>-->
  <!--</thead>-->
  <!--{#requests}-->
  <!--<tr id="tr{id}">-->
    <!--<td>{name}</td>-->
    <!--<td>{date}</td>-->
    <!--<td>{period}</td>-->
    <!--<td>{date_end}</td>-->
    <!--<td>{sum}</td>-->
    <!--<td>-->
      <!--{#files}-->
        <!--{name}<br>-->
      <!--{/files}-->
    <!--</td>-->
    <!--<td>-->
      <!--<a href="{#url req_id=id}site.request{/url}"><span id="edit{id}" class="glyphicon glyphicon-pencil"></span></a>-->
      <!--<a><span id="del{id}" class="glyphicon glyphicon-trash"></span></a>-->
    <!--</td>-->
  <!--</tr>-->
  <!--{/requests}-->
<!--</table>-->
{/content}