{>"{cd}/main.html"/}
{<content}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form id="com_form" method="post"  action="{#url}user.create_company{/url}" role="form" class="form-horizontal">
      <div class="form-group">
        <label for="name">Название площадки</label>
        <input name="company[companyname]" type="text" class="form-control" id="name" placeholder="Название" value="{company.companyname}">
      </div>
      <div class="form-group">
        <label for="inn">ИНН</label>
        <input name="company[companyinn]" type="text" class="form-control" id="inn" value="{company.companyinn}" placeholder="ИНН">
      </div>
      <input type="hidden" name="id" value="{company.id}">
      <button type="submit" class="btn btn-default">создать</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
{/content}
<script type="text/javascript">
  $(function(){
    var options = {
      rules : {
        'company[companyname]' : {
          required      : true,
          maxlength     : 256 },

        'company[companyinn]' : {
          required      : true,
          maxlength     : 16}
      },
      messages: {
        'company[companyname]' : "!!!!!!!!!"
      }
    }

    $('#com_form').validate( options );
  });
</script>
