{>"{cd}/main.html"/}
{<content}
  <br>
<div class="cell">
  <h1 class="page_title">Контактная информация</h1>
<div class="text">
  <ul class="contacts">
    <li>
      <div class="cell"><span>Адрес:</span></div>
      <div class="cell">197374 г. Санкт-Петербург, ул. Торфяная дорога 7, литер Ф, офис №1408</div>
    </li>
    <li>
      <div class="cell"><span>Телефон:</span></div>
      <div class="cell">+7 (921) 924 67 33</div>
    </li>
    <li>
      <div class="cell"><span>Метро:</span></div>
      <div class="cell">Старая Деревня</div>
    </li>
    <li>
      <div class="cell"><span>Email:</span></div>
      <div class="cell">e.pomorceva@ast-finance.ru</div>
    </li>
    <li>
      <div class="cell"><span>Контактное лицо:</span></div>
      <div class="cell">Поморцева Екатерина</div>
    </li>
  </ul>
</div>
</div>
{/content}