{>"{cd}/main.html"/}
{<content}
  <br>
<div class="col-c">
  <div class="table_s h">
    <div class="line">
      <div class="cell">
  <h1 class="page_title">Сотрудничество</h1>
  <div class="text_s">
  Микрофинансовая компания ООО «АСТ-Консалтинг Финанс», являясь официальным партнером ЗАО «Сбербанк-АСТ»,
    осуществляет выдачу тендерных займов под обеспечение заявок для участия в аукционах в электронной форме.
    </div>
  <div class="text_s" style="font-weight: bold">
    В настоящее время мы ищем партнеров для заключения агентских договоров с целью привлечения дополнительных клиентов.
  </div>

  <div class="text_s">
    <div class="linebox">
      <div class="name">Возможны два варианта процесса взаимодействия Агента и МФО:</div>
    </div>
    <div style="padding: 20px;">
      <p>1.Агент осуществляет поиск, консультирование и оформление необходимых документов Клиентов, желающих получить в МФО тендерный заем. Документы высылаются по электронной почте МФО.

      <p>2. Агент передает МФО контактные данные заинтересованного клиента без сбора документов.<br>

      В случае заинтересованности в сотрудничестве в данной области, с нами можно связаться и получить более подробную информацию:</p>

      <div class="line">
        <div class="important_date"><span>по телефонам: +7-921-924-67-33, контактное лицо – Поморцева Екатерина</span></div>
      </div>
      <div class="line">
        <div class="important_date"><span>по электронной почте: e.pomorceva(at)ast-finance.ru</span></div>
      </div>
  </div>
</div>


  <h1>Будем рады взаимовыгодному сотрудничеству с Вашей компанией!</h1>
</div>
</div>
</div>
</div>

  {/content}
