{>"{cd}/main.html"/}
{<content}
  result : {result}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form id="reg_form" method="post"  enctype="multipart/form-data" action="{#url}request.create_request{/url}" role="form" class="form-horizontal">
      <div class="form-group">
        <label for="num">Номер извещения на офф. сайте</label>
        <input name="request[num]" type="text" class="form-control" id="num" placeholder="Номер" value="{req.num}">
      </div>
      <div class="form-group">
        <label for="sum">Сумма займа</label>
        <input name="request[sum]" type="text" class="form-control" id="sum" placeholder="Сумма" value="{req.sum}">
      </div>
      <div class="form-group">
        <label for="period">На какой срок</label>
        <input name="request[period]" type="text" class="form-control" id="period" placeholder="срок" value="{req.period}">
      </div>
      <div class="form-group">
        <label for="de">Крайний срок перечисления денег</label>
        <input name="request[duedate]" type="date" class="form-control" id="de" placeholder="" value="{req.duedate}">
      </div>
      <div class="form-group">
        <label for="company">Название площадки</label>
        <select name="request[company_id]" id="company">
            {#companies}
            <option value="{id}">{companyname}</option>
            {/companies}
        </select>
      </div>
      <div class="form-group">
        <label for="files">Файлы</label>
        <input name="files[]" type="file" class="form-control" id="files" multiple placeholder="Файлы">
      </div>
      <input type="hidden" name="id" value="{req.id}">
      <input type="hidden" name="cid" value="{cid}">
      <button type="submit" class="btn btn-default">Отправить заявку</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>

  <script type="text/javascript">
    $(function(){
      var options = {
        rules : {
          'topic[name]' : {
            required      : true,
            maxlength     : 256 },

          'topic[description]' : {
            required      : true,
            maxlength     : 4096 }
      } }

      $('#topic').validate( options );
    });
  </script>
{/content}