{>"{cd}/main.html"/}
{<content}
<div class="col-c">
  <div class="table h">
    <div class="line">
      <div class="cell">
        <h1 class="page_title">Разработанные отчеты</h1>
        <div class="linebox">
          <div class="name">В настоящее время разработаны следующие отчеты:</div>
        </div>
        <div class="text">
          <div class="line">
            <div class="important_date"><span>Уведомление о прекращении блокирования</span></div>
          </div>
          <div class="line">
            <div class="important_date">Уведомление о поступлении заявки на кредитование</div>
          </div>
          <div class="line">
            <div class="important_date">Уведомление о блокировке денежных средств по кредитной заявке</div>
          </div>
          <div class="line">
            <div class="important_date">Подтверждение кредитной заявки на участие в аукционе</div>
          </div>
          <div class="line">
            <div class="important_date">Уведомление о поступлении отложенной заявки на участие в аукционе</div>
          </div>
          <div class="line">
            <div class="important_date">Деньги заблокированные(или комиссия) на площадке</div>
          </div>
        </div>
        <div class="cell">
          <br><br>
          Система отчетов АСТ-Финанс.МФО предназначена для поиска информации в документообороте МФО с Сбербанк-АСТ.
          <br>
          Система состоит из робота, который скачивает необходимые данные из личного кабинета МФО в Сбербанке-АСТ,
          из базы данных параметров сообщений и системы отчетов.
          <br>
          Система разработана с рассчетом, что новые типы отчетов добавлять несложно.
          <br>
          Если вам необходим какой-то другой отчет по данным из документооборота, обращайтесь к разработчику.
          <br>

        </div>
      </div>
    </div>
  </div>

{/content}