{>"{cd}/main.html"/}
{<content}
<div class="col-c">
  <div class="table_s h">
    <div class="line">
      <div class="cell">
        <!--<h1 class="page_title">Разработанные отчеты</h1>-->
        <!--<div class="linebox">-->
          <!--<div class="name">В настоящее время разработаны следующие отчеты:</div>-->
        <!--</div>-->
        <div class="text_s">
        <p>Каждой организации, планирующей принять участие в торгах на электронной площадке,
          согласно законодательству, необходимо внести обеспечение заявки, доказывающее финансовую состоятельность Участника.</p>

        <p>Достаточно часто организации участвуют одновременно в большом количестве аукционов и сумма обеспечения,
          в таком случае, становится существенной. Выходом из данной ситуации является тендерный заем – кредитный
          инструмент, позволяющий не отвлекать из оборота на длительный период значительные суммы денежных средств.</p>

        <p>Микрофинансовая компания ООО «АСТ-Консалтинг Финанс», являясь официальным партнером ЗАО «Сбербанк-АСТ»,
          предлагает Вашему вниманию программу «Тендерный заем» - краткосрочный заем, выдаваемый под обеспечение
          заявок для участия в аукционах в электронной форме на <span style="font-weight: bold;">следующих условиях:</span></p>

          <div class="line">
            <div class="important_date"><span>перечисление денежных средств непосредственно на площадку Сбербанк-АСТ;</span></div>
          </div>
          <div class="line">
            <div class="important_date"><span>сумма займа - до 1 млн. рублей включительно;</span></div>
          </div>
          <div class="line">
            <div class="important_date"><span>процентная ставка – 12% годовых;</span></div>
          </div>
          <div class="line">
            <div class="important_date"><span>комиссия за предоставление займа -4% от суммы;</span></div>
          </div>
          <div class="line">
            <div class="important_date"><span>срок рассмотрения заявки - от 2-х часов;</span></div>
          </div>
          <div class="line">
            <div class="important_date"><span>минимальный пакет документов, дистанционное рассмотрение заявки;</span></div>
          </div>
          <div class="line">
            <div class="important_date"><span>без открытия расчетного счета и посещения офиса;</span></div>
          </div>
          <div class="line">
            <div class="important_date"><span>работаем с любыми регионами РФ;</span></div>
          </div>
          <div class="line">
            <div class="important_date"><span>минимальные требования к организации-заемщику – осуществление фирмой-
              Заемщиком деятельности в течение 12 месяцев, доходность бизнеса достаточна для погашения микрозайма в полном объеме.</span></div>
          </div>
          <br>
          <div class="linebox">
            <div class="name">Преимущество работы с нами:</div>
          </div>
          <div style="padding: 20px;font-weight: bold">
            <p>- действительно быстрые сроки принятия решения по заявке;</p>

            <p>- возможность обращения для рассмотрения заявки в выходные и праздничные дни;</p>

            <p> - опыт работы со срочными заявками с перечислением денег на следующий день после обращения;</p>

            <p>- мы не ограничены жесткими рамками рабочего дня и готовы к общению в удобное для Вас время.</p>
            </div>

          <div class="linebox">
            <div class="name">Пять простых шага для подачи заявки и получения микрозайма:</div>
          </div>
          <div style="padding: 20px;">
            <p>1. Связаться с нами или заполнить on-line заявку</p>

            <p>2. После общения с нашим специалистом выслать по электронной почте документы по списку.
              (<a href="/Rules_19_02_2014.docx">скачать здесь</a>)</p>

            <p>3. Получить решение по займу</p>

            <p>4. В случае положительного решения, подписать и выслать скан Договора микрозайма по электронной почте,
                оплатить комиссию по договору и создать Отложенную заявку средствами электронной площадки для участия в аукционе.</p>

            <p>5. Увидеть в личном кабинете выданный заем под конкретную заявку (отложенная заявка приобретает статус «Активирована»)</p>
            </div>.
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{/content}