{>"{cd}/main.html"/}
{<content}
  <br>
<div class="cell">
  <h1 class="page_title">Список документов</h1>
  <table class="table table-condensed">
    <thead>
    <tr class="_bold">
      <th style="width: 70px;">№ п/п</th>
      <th>Наименование документа</th>
      <th>Описание</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Анкета клиента</td>
      <td>Анкета по форме МФО (документ в текстовом формате, не сканированный)</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Заявление</td>
      <td>По форме МФО за подписью руководителя и печатью организации</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Бухгалтерский баланс</td>
      <td><span class="_bold">А)</span>  Для лиц применяющих <span class="_bold">общую систему налогообложения (ОСНО):</span>
        Форма 1 и Форма 2 на последнюю отчетную дату и сданная годовая отчетность с отметкой ФНС,
        либо с копиями протоколов входящего контроля (если отчетность сдается в электронном виде),
        либо с копиями почтовых отправлений (если отчетность сдается по почте)<br>
        <span class="_bold">Б)</span> Для лиц, применяющих <span class="_bold">упрощенную систему налогообложения (УСНО):</span>
        налоговая декларация за последний отчетный период и последний завершенный календарный год,
        и выписка из книги учета доходов и расходов за последние 12 завершенных календарных месяцев</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Выписка из ЕГРЮЛ</td>
      <td>Не позднее 30 дней</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Свидетельство о постановке на учет в налоговом органе юридического лица (ИНН)</td>
      <td>Копия, заверенная подписью руководителя и печатью организации</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Свидетельство о государственной регистрации юридического лица (ОГРН)</td>
      <td>Копия, заверенная подписью руководителя и печатью организации</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Паспорт</td>
      <td>Паспорт руководителя компании, заверенный подписью и печатью компании</td>
    </tr>
    </tbody>
  </table>
</div>
{/content}

