<!DOCTYPE html>
<html>
<head>
  <title>АСТ-Финанс</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="screen">
    <!--<link href="/css/Interface.css" rel="stylesheet" type="text/css" media="screen">-->
    <!--<link href="/css/sep.css" rel="stylesheet">-->
  <link href="/css/jquery-ui.css" rel="stylesheet">
  <link href="/css/jquery.customscrollbar.css" rel="stylesheet">
  <link href="/js/DataTables/media/css/jquery.dataTables.css" rel="stylesheet">
  <link href="/js/DataTables/extras/TableTools/media/css/TableTools.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <!--<script src="/js/jquery.min.js"></script>-->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/jquery.form.js"></script>
  <script type="text/javascript" src="/js/jquery.MultiFile.js"></script>
  <script src="/js/DataTables/media/js/jquery.dataTables.js"></script>
  <script src="/js/scrollbar/jquery.customscrollbar.js"></script>
  <!--<script src="/js/DataTables/extras/TableTools/media/js/TableTools.js"></script>-->
  <!--<script src="/js/DataTables/extras/TableTools/media/js/ZeroClipboard.js"></script>-->
  {?script}
    {#script}
    <script src="/js/{.}.js"></script>
    {/script}
  {/script}
</head>
<body>
<div class="layout">

    <div class="header">
        <div class="width980">
            <div class="cell">
                <div class="site_name" onclick="window.location='/';">АСТ-Финанс</div>
            </div>
            <div class="cell fr">
                <div class="authorization">
                    {?user.model}
                    <a href="/logout"><div class="Button">ВЫХОД</div></a>
                    {:else}
                  <!--<form id="logForm"  method="post" action="{#url}user.login{/url}" class="navbar-form navbar-right" role="login">-->
                    <!--<div class="form-group">-->
                      <!--<input name="user[email]" type="email" class="form-control" placeholder="email">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                      <!--<input name="user[pass]" type="password" class="form-control" placeholder="password">-->
                    <!--</div>-->
                    <!--<button id="logBut" type="submit" class="btn btn-default">Вход</button>-->
                    <!--<button id="regBut" type="button" class="btn btn-default">Регистрация</button>-->
                  <!--</form>-->
                    <form id="logForm"  method="post" action="{#url}user.login{/url}" class="navbar-form navbar-right" role="login">
                        <div class="row1">
                            <div class="Input"><input name="user[email]" type="text" placeholder="email"></div>
                            <div class="Input"><input name="user[pass]" type="password" placeholder="Пароль"></div>
                            <div class="Button" onclick="$('#logForm').submit();return false;">Вход</div>
                            <div class="Button" onclick="$('.window._reg,.overlay').show();">Регистрация</div>
                        </div>
                        <!--<div class="row2">-->
                            <!--<div class="Checkbox">-->
                                <!--<div class="box">&times;</div>-->
                                <!--<span>не выходить</span>-->
                            <!--</div>-->
                            <!--<a href="" title="" class="forgot">Забыли пароль?</a>-->
                        <!--</div>-->
                    </form>
                    {/user.model}
                </div>
            </div>
        </div>
    </div>
    <ul class="menu">
        {?user.model}
        <li><a href="{cab_url}">Кабинет</a></li>
        {?admin}
        <li><a>Отчеты <b class="caret"></b></a>
            <ul id="am">
              <li><a href="{#url t_id=1}site.table{/url}">Уведомление о прекращении блокирования</a></li>
              <li><a href="{#url t_id=2}site.table{/url}">Уведомление о поступлении заявки на кредитование</a></li>
              <li><a href="{#url t_id=3}site.table{/url}">Уведомление о блокировке денежных средств по кредитной заявке</a></li>
              <li><a href="{#url t_id=4}site.table{/url}">Подтверждение кредитной заявки на участие в аукционе</a></li>
              <li><a href="{#url t_id=5}site.table{/url}">Уведомление о поступлении отложенной заявки на участие в аукционе</a></li>
              <li><a href="{#url t_id=6}site.table{/url}">Деньги заблокированные(или комиссия) на площадке</a></li>
            </ul>
        </li>
        {/admin}
        {/user.model}
      <li><a href="#">Информация<b class="caret"></b></a>
        <ul id="am">
          <li><a href="/rules">Правила представления тендерных займов</a></li>
          <li><a href="/list">Пакет документов по тендерным займам</a></li>
          <li><a href="/">Типовой договор</a></li>
        </ul>
      </li>
      <li><a href="/cooperation">Сотрудничество</a></li>
      <li><a href="/about">О компании</a></li>
      <li><a href="/contacts">Контакты</a></li>
    </ul>

  <div class="content default-skin">
{+content/}
  </div>
</div>

<div class="overlay"></div>
{+window/}
{?user.model}
{:else}
<div class="window _reg" style="margin-top:-180px;">
    <div class="title">Регистрация</div>
    <form method="post" id="reg" action="{#url}user.register{/url}" role="form">
    <ul>
        <li>
            <div class="cell">Фамилия</div>
            <div class="cell">
                <div class="Input"><input class='required' name="user[surname]" type="text" placeholder="Ввдите фамилию"></div>
            </div>
        </li>
        <li>
            <div class="cell">Имя</div>
            <div class="cell">
                <div class="Input"><input class='required' name="user[name]" type="text" placeholder="Ввдите имя"></div>
            </div>
        </li>
        <li>
            <div class="cell">Отчество</div>
            <div class="cell">
                <div class="Input"><input class='required' name="user[patronymic]" type="text" placeholder="Ввдите отчество"></div>
            </div>
        </li>
        <li>
            <div class="cell">Телефон</div>
            <div class="cell">
                <div class="Input"><input class='required' name="user[tel]" type="text" placeholder="Ввдите телефон"></div>
            </div>
        </li>
        <li>
            <div class="cell">Email</div>
            <div class="cell">
                <div class="Input"><input class="required email" name="user[email]" type="email" placeholder="Ввдите email"></div>
            </div>
        </li>
        <li>
            <div class="cell">Пароль</div>
            <div class="cell">
                <div class="Input"><input class='required' name="user[pass]" type="password" placeholder="Ввдите пароль"></div>
            </div>
        </li>
    </ul>
    <div class="btn">
        <div class="Button Second" onclick="$('.window._reg,.overlay').hide();">отмена</div>
        <div class="Button" onclick="$('#reg').submit();">ОК</div>
    </div>
    </form>
</div>
{/user.model}


<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.content').height($('.layout').height()-100).customScrollbar({updateOnWindowResize: true, hScroll : false});
    $("#regBut").click(function(){
      $('.window._reg,.overlay').fadeIn(500)
    });
    $(".Input input,textarea").focus(function(){
        $(this).parent().addClass("Focused")
    }).blur(function(){
            $(this).parent().removeClass("Focused")
      });
    $('#reg').validate({
      errorPlacement : function(error, element) {
        return false;
      }
    });
  })
</script>
</body>
</html>
