{>"{cd}/main.html"/}
{<content}
<h4>{user.model.surname} {user.model.name} {user.model.patronymic}</h4>
<div id="alert_div" style="display: none" class="alert alert-success"></div>
<h4>Заявки
  {?admin}
  {:else}
  <small style="cursor: pointer;" onclick="$('.window._req,.overlay').show();">добавить</small>
  {/admin}
   от компании  <strong>{requests[0].company.companyname}</strong> ИНН: {requests[0].company.companyinn}</h4>
<table class="table table-condensed">
  <thead>
  <tr>
    <th>reqamount</th>
    <th>duedate</th>
    <th>date</th>
    {?admin}
    <th>sberorderid</th>
    {:else}
    <th></th>
    {/admin}
  </tr>
  </thead>
  {#requests}
  <tr id="tr{id}">
    <td>{reqamount}</td>
    <td>{duedate}</td>
    <td>{date}</td>
    {?admin}
    <td>
      <input type="text" style="width: 80px;" id="soid{id}" name="sberorderid" value="{sberorderid}">
      <div class="Button" id="sbbut{id}" type="submit" class="btn btn-default">изменить</div>
    {:else}
    <td>
      <a href="{#url c_id=id}site.company{/url}"><span id="edit{id}" class="glyphicon glyphicon-pencil"></span></a>
      <a href="#"><span id="del{id}" class="glyphicon glyphicon-trash"></span></a>
    </td>
    {/admin}
  </tr>
  {/requests}
</table>
{/content}
{<window}
<div class="window _req" style="margin-top:-150px;">
    <div class="title">Добавить компанию</div>
    <form id="req" method="post"  action="{#url}request.create_request{/url}" role="form" class="form-horizontal">
        <ul>
            <li>
                <div class="cell">Сумма</div>
                <div class="cell">
                    <div class="Input">
                        <input name="request[reqamount]" type="text" placeholder="Сумма" value="{req.reqamount}">
                    </div>
                </div>
            </li>
            <li>
                <div class="cell">Срок</div>
                <div class="cell">
                    <div class="Input">
                        <input name="request[duedate]" type="date" placeholder="Срок" value="{req.duedate}">
                    </div>
                </div>
            </li>
            <li>
                <div class="cell">Компания</div>
                <div class="cell">
                    <select name="request[company_id]">
                        {#companies}
                        <option value="{id}">{companyname}</option>
                        {/companies}
                    </select>
                </div>
            </li>
        </ul>
        <input type="hidden" name="id" value="{req.id}">
        <input type="hidden" name="cid" value="{cid}">
        <div class="btn">
            <div class="Button Second" onclick="$('#req').reset();$('.window._req,.overlay').hide();">отмена</div>
            <div class="Button" onclick="$('#req').submit();">ОК</div>
        </div>
        <form>
</div>
{/window}