{>"{cd}/main.html"/}
{<content}
<div class="col-c">
  <div class="table_s h">
    <div class="line">
      <div class="cell">
      <h1 class="page_title">Правила предоставления микрозаймов</h1>
      <div class="linebox">
        <div class="small_text">г. Санкт-Петербург
        &laquo;09&raquo; августа  2013г</div>
        </div>
      <div class="text_s">
      <div class="_bold">1.ОБЩИЕ ПОЛОЖЕНИЯ</div>
      <div class="text_s">
      <div>
        1.1. Настоящие Правила предоставления микрозаймов  ООО
        &laquo;АСТ-Консалтинг Финанс&raquo; (далее Правила) разработаны в
        соответствии с Гражданским кодексом Российской Федерации, Федеральным
        законом от 2 июля 2010 г. № 151-ФЗ &laquo;О          микрофинансовой
        деятельности и микрофинансовых организациях&raquo;, Федеральным
        законом &laquo;О персональных данных&raquo; от 27.07.2006 года №
        152-ФЗ,  Уставом Микрофинансовой организации  ООО &laquo;АСТ-Консалтинг
        Финанс&laquo; (далее по тексту МФО/Займодавец) и  иными нормативными
        правовыми актами Российской Федерации.</div>
      <div>
        1.2. Настоящие Правила являются внутренним нормативным документом
        МФО, регулирующим порядок  и условия предоставления микрозаймов
        юридическим лицам.. Правила призваны разъяснить права и обязанности
        сторон по договору займа  и предоставить полную информацию Заемщикам,
        необходимую для надлежащего исполнения договора займа .</div>
      <div>
        1.3. Копии настоящих Правил, образцы Заявления на получение
        микрозайма и Договор займа (микрозайма) доступны всем лицам для
        ознакомления и содержат основные условия предоставления микрозаймов и
        размещаются в помещении МФО, где производится оформление документов
        для получения микрозаймов в месте, доступном для обозрения и
        ознакомления с ними Заемщиков, а также в сети Интернет на сайте
        &laquo;АСТ-Консалтинг Финанс&raquo;: </div>
      <div>
        1.4. В случае установления в Правилах предоставления микрозаймов
        условий, противоречащих условиям Договора микрозайма, заключенного с
        Заемщиком, применяются положения Договора микрозайма.</div>
      <div>
        1.5. Микрофинансирование осуществляется на основании принципа
        обеспеченности возвратности микрозайма соответствующими способами
        обеспечения обязательств, установленными гражданским
        законодательством и настоящими Правилами.</div>
      <div>
        1.6. Действие настоящего Положения не распространяется на субъектов
        предпринимательской деятельности:</div>
      <div>-
        занимающихся игорным бизнесом, производством и реализацией
        подакцизных товаров, а также добычей и реализацией полезных
        ископаемых, за исключением общераспространенных полезных ископаемых;</div>
      <div>-
        являющихся участниками соглашений о разделе продукции;</div>
      <div>- являющихся
        кредитными организациями, страховыми организациями (за исключением
        потребительских кооперативов), инвестиционными фондами,
        негосударственными пенсионными фондами, профессиональными участниками
        рынка ценных бумаг, ломбардами.</div>
      </div>
      <div class="_bold">2. ТЕРМИНЫ И ПОНЯТИЯ</div>
      <div class="text_s">
      <div>2.1. В настоящих
        Правилах используются следующие термины и понятия:</div>
      <div>МФО &ndash;
        юридическое лицо,   ООО &quot; АСТ-Консалтинг Финанс&quot;,
        осуществляющее микрофинансовую деятельность на территории Российской
        Федерации и внесенное в государственный реестр микрофинансовых
        организаций.</div>
      <div>Займодавец
        &ndash; Общество с ограниченной ответственностью &laquo;АСТ-Консалтинг
        Финанс&raquo;.</div>
      <div>Заявитель
        &ndash; коммерческие организации,  зарегистрированные на территории
        РФ в качестве налогоплательщиков, подавшие заявку на предоставление
        займа  (микрозайма) в МФО.</div>
      <div>Заемщик
        &ndash; коммерческие организации, зарегистрированные на территории РФ
        в качестве налогоплательщиков, заключившие Договор займа (микрозайма)
        с МФО.</div>
      <div>Договор
        микрозайма &ndash; договор о предоставлении микрозайма, заключаемый
        между Заемщиком и МФО по форме, установленной МФО.
      </div>
      <div>Микрозаем
        &ndash; заем в валюте Российской Федерации, предоставляемый МФО
        Заемщику, юридическому лицу, на следующих условиях:</div>
      <div>1)
        сумма микрозайма не должна превышать один миллион рублей с учетом
        задолженности (обязательств) по заключенным с МФО договорам
        микрозайма;<br>
        2)
        срочности, возвратности, платности, а также в соответствии с
        гражданским законодательством Российской Федерации;<br>
        3)
        предусмотренных Договором микрозайма.</div>
      <div>Предмет
        микрозайма &ndash; денежные средства в рублях РФ;</div>
      <div>
        Заявление-Анкета &ndash; это документ, подаваемый Заявителем  в ООО
        МФО на предоставление микрозайма с приложением необходимых документов
        согласно перечню, утверждаемому МФО и содержащий  для принятия
        Займодавцем решения по предоставлению займа.
      </div>
      <div>
        Обязательства Заемщика &ndash; обязательства, возникшие по
        действующим Договорам микрозайма и прочим договорам между Заемщиком и
        МФО в соответствии с настоящими Правилами.
      </div>
      </div>
      <div class="_bold">3.
        ЦЕЛЕВОЕ НАЗНАЧЕНИЕ И ПАРАМЕТРЫ МИКРОЗАЙМОВ</div>
      <div class="text_s">

      <div>
        3.1. Микрозаймы предоставляются  юридическим лицам для  обеспечение
        заявок для участия в аукционах в электронной форме.
      </div>
      <div>
        3.2. Конкретные условия предоставления Микрозаймов закрепляются в
        договоре микрозайма, в котором определяются сумма микрозайма, срок
        микрозайма, форма предоставления микрозайма, процентная ставка по
        микрозайму, график платежей по возврату микрозайма, срок
        предоставления микрозайма, штрафные санкции за ненадлежащее
        исполнение условий договора.
      </div>
      <div>
        3.3. Все расходы, связанные с реализацией права Заявителя
        (Заемщика) на получение микрозайма в соответствии с настоящими
        Правилами, несет в полном объеме Заявитель (Заемщик).
      </div>
      </div>
      <div class="_bold">4.
        ПРАВА И ОБЯЗАННОСТИ МИКРОФИНАНСОВОЙ ОРГАНИЗАЦИИ </B>
      </div>
      <div class="text_s">
      <div>
        4.1. Микрофинансовая организация вправе:</div>
      <div>
        - запрашивать у лица, подавшего заявление-анкету на предоставление
        микрозайма, документы и сведения, необходимые для решения вопроса о
        предоставлении микрозайма и исполнения обязательств по договору
        микрозайма, в порядке и на условиях, которые установлены настоящими
        правилами;</div>
      <div>
        - иметь иные права в соответствии с федеральными законами, иными
        нормативными правовыми актами, учредительными документами и условиями
        заключенных договоров микрозаймов.</div>
      <div>
        4.2. Микрофинансовая организация обязана:</div>
      <div>
        - предоставить лицу, подавшему заявку , полную и достоверную
        информацию о порядке и условиях предоставления микрозайма, о его
        правах и обязанностях, связанных с получением микрозайма;</div>
      <div>
        -    проинформировать лицо, подавшее заявку на предоставление
        микрозайма, до получения им микрозайма об условиях договора, о
        возможности и порядке изменения его условий, размере всех платежей,
        связанных с получением, обслуживанием и возвратом микрозайма, а также
        с нарушением условий договора;</div>
      <div>
        - гарантировать соблюдение тайны об операциях своих заемщиков. Все
        работники микрофинансовой организации обязаны соблюдать тайну об
        операциях заемщиков, а также об иных сведениях, устанавливаемых МФО
        федеральными законами;</div>
      <div>
        - нести иные обязанности в соответствии с федеральными законами,
        иными нормативными правовыми актами, учредительными документами и
        условиями заключенных договоров.</div>
        </div>
      <div class="_bold">5.
        ПРАВА И ОБЯЗАННОСТИ ЛИЦА, ПОДАВШЕГО ЗАЯВКУ НА ПРЕДОСТАВЛЕНИЕ
        МИКРОЗАЙМА В МИКРОФИНАНСОВУЮ ОРГАНИЗАЦИЮ</div>
      <div class="text_s">
      <div>
        5.1. Лицо, подавшее заявку на предоставление микрозайма , вправе:</div>
      <div>-
        ознакомиться с правилами предоставления микрозаймов,;</div>
      <div>-
        получить полную и достоверную информацию о порядке и об условиях
        предоставления микрозайма, включая информацию обо всех платежах,
        связанных с получением, обслуживанием и возвратом микрозайма.</div>
      <div>
        5.2. Лицо, подавшее заявку на предоставление микрозайма в МФО,
        обязано представлять документы и сведения, запрашиваемые
        микрофинансовой организацией в соответствии с настоящими Правилами, в
        том числе необходимые для исполнения  требований, установленных
        федеральными законами.</div>
      <div>
        5.3. Лицо, подавшее заявку на предоставление микрозайма, имеет иные
        права и может нести иные обязанности в соответствии с федеральными
        законами.</div>
      </div>
      <div class="_bold">6.
        ПРАВА И ОБЯЗАННОСТИ ЗАЕМЩИКА</div>
      <div class="text_s">
      <div>
        6.1. Заемщик вправе распоряжаться денежными средствами, полученными
        по Договору микрозайма, в порядке и на условиях, которые установлены
        Договором .</div>
      <div>
        6.2. Заемщик обязан представлять документы и сведения,
        запрашиваемые микрофинансовой организацией в соответствии настоящими
        Правилами.</div>
      <div>
        6.3. Заемщик вправе досрочно погасить сумму микрозайма.</div>
      <div>
        6.4. Заемщик обязан возвратить микрозайм, проценты по займу и
        обеспечить возможность контроля займодавцем использования суммы
        займа, в случае предоставления &laquo;целевого&raquo; займа.</div>
      <div>
        6.5. Заемщик имеет иные права и может нести иные обязанности в
        соответствии с федеральными законами и условиями заключенного
        Договора микрозайма.
      </div>
        </div>
      <div class="_bold">7.
        УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ МИКРОЗАЙМОВ
      </div>
      <div class="text_s">
      <div>
        7.1.Микрозаймы предоставляются юридическим лицам с соблюдением
        следующих условий:<br>
      -
        осуществление  фирмой-Заемщиком деятельности  в течение 12 месяцев;<br>
      -
        перечисление денежных средств   на электронную площадку
        Сбербанк-АСТ;<br>
      -
        сумма займа - до 1 млн. рублей включительно;<br>
      -предоставление Заемщиком документов по списку, утвержденному МФО<br>
      -регистрациябизнеса на территории Российской Федерации; <br>
      -отсутствие
        процедуры несостоятельности (банкротства);<br>
      - в
        отношении Заявителя нет исполнительного и/или арбитражного
        производства;<br>
      -
        доходность бизнеса достаточна для погашения микрозайма в полном
        объеме.<br>
      -
        целевое использование займа - обеспечение заявок для участия в
        аукционах в электронной форме.
      </div>
      <div>
        7.2. За пользование займом Заемщик уплачивает МФО проценты:</div>
      <div>-
        комиссия за пользование займом в виде платежа в размере 3-4%
        (устанавливается договором) от суммы Займа, оплачивается до момента
        выдачи Займа;</div>
      <div>-
        комиссия за пользование Займом из расчета 12-13% годовых
        (устанавливается договором) за количество дней пользования займом.

      </div>
      <div>
        7.3. Процентная ставка за пользование микрозаймами является
        фиксированной на период действия Договора микрозайма.
      </div>
      <div>
        7.4 Порядок и условия погашения основной суммы займа и процентов по
        займу  устанавливаются Договором микрозайма.</div>
      <div>
        7.5. Минимальный срок предоставления микрозайма &ndash; 5 (пять)
        дней. Максимальный срок предоставления микрозайма &ndash; 90
        (девяносто) дней.</div>
      <div>
        7.6. МФО самостоятельно и в одностороннем порядке приходит к выбору &ndash;
        выдать либо не выдать микрозайм Заявителю.</div>
      <div>
        7.7. Уплата процентов за пользование микрозаймом осуществляется в
        сроки, установленные договором микрозайма и/или графиком платежей.</div>
      <div>
        7.8. Заемщик вправе досрочно полностью или частично возвратить сумму
        микрозайма.</div>
      <div>
        7.9. Иные условия описаны в Договоре микрозайма, заключаемом с
        Заемщиком и МФО, и составленного в рамках Гражданского Кодекса
        Российской Федерации, ФЗ Российской Федерации &quot;О микрофинансовой
        деятельности и микрофинансовых организациях&quot;.
      </div>
      <div>
        7.10. Положительное решение уполномоченного работника МФО по
        принятию решений по выдаче займа (микрозайма) действует в течение 14
        календарных дней с момента принятия.</div>
      <div>
        7.11. В случае расторжения Договора микрозайма в одностороннем
        порядке, МФО отправляет заказным либо ценным письмом (без
        уведомления) на почтовый адрес, указанный в Договоре микрозайма,
        уведомление о расторжении Договора микрозайма.
      </div>
      <div>
        Заемщик обязан письменно известить Заимодавца о своем переезде на
        другое место жительство,  или изменении любых данных, указанных в
        договоре микрозайма, иные обстоятельства, которые могут
        препятствовать документообороту между Заимодавцем и Заемщиком. Если
        Заимодавец надлежащим образом не был уведомлен о вышеуказанном,
        уведомление о расторжении Договора микрозайма считается полученным
        Заемщиком после прохождения 10 (десяти) рабочих дней с даты,
        указанной в квитанции почтового отправления Заимодавца.
      </div>
        </div>
      <div class="_bold">8.
        ОБЕСПЕЧЕНИЕ МИКРОЗАЙМА</div>
      <div class="text_s">
      <div >
        8.1. Предоставление займов без обеспечения допускается.
      </div>
      </div>
      <div class="_bold">9.
        ПЕРЕЧЕНЬ ДОКУМЕНТОВ, НЕОБХОДИМЫХ ДЛЯ ПОЛУЧЕНИЯ МИКРОЗАЙМА
      </div>
      <div> - для юридических лиц:</div>
      <div>
        <table class="table table-condensed">
          <thead>
          <tr class="_bold">
            <th style="width: 70px;">№ п/п</th>
            <th>Наименование документа</th>
            <th>Описание</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Анкета клиента</td>
            <td>Анкета по форме МФО (документ в текстовом формате, не сканированный)</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Заявление</td>
            <td>По форме МФО за подписью руководителя и печатью организации</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Бухгалтерский баланс</td>
            <td>А) Для лиц применяющих общую систему налогообложения (ОСНО):
              Форма 1 и Форма 2 на последнюю отчетную дату и сданная годовая отчетность с отметкой ФНС,
              либо с копиями протоколов входящего контроля (если отчетность сдается в электронном виде),
              либо с копиями почтовых отправлений (если отчетность сдается по почте)<br>
              Б) Для лиц, применяющих упрощенную систему налогообложения (УСНО):
              налоговая декларация за последний отчетный период и последний завершенный календарный год,
              и выписка из книги учета доходов и расходов за последние 12 завершенных календарных месяцев</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Выписка из ЕГРЮЛ</td>
            <td>Не позднее 30 дней</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Свидетельство о постановке на учет в налоговом органе юридического лица (ИНН)</td>
            <td>Копия, заверенная подписью руководителя и печатью организации</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Свидетельство о государственной регистрации юридического лица (ОГРН)</td>
            <td>Копия, заверенная подписью руководителя и печатью организации</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Паспорт</td>
            <td>Паспорт руководителя компании, заверенный подписью и печатью компании</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
        Дополнительно (при необходимости) МФО может запросить любые
        документы, необходимые для принятия решения о выдаче займа.</div>
      </div>
      <div class="_bold">10.
        РЕГЛАМЕНТ ПРЕДОСТАВЛЕНИЯ МИКРОЗАЙМА ЮРИДИЧЕСКОМУ ЛИЦУ</div>
      <div class="text_s">
      <div>
        Регламент предоставления микрозайма состоит из этапов:</div>
      <div>1-
        обращение и представления документов</div>
      <div>2 -
        собеседование;</div>
      <div>4 &ndash;
        экспертиза документов;</div>
      <div>5 -
        принятия решения о выдаче микрозайма или отказе;</div>
      <div>6 -
        уведомления;</div>
      <div>7 -
        заключения Договора микрозайма  в случае принятия положительного
        решения;
      </div>
      <div>8 -
        выдача микрозайма.</div>
      <div>
        10.1. Обращение</div>
      <div>
        Заявитель должен  представить заявление о предоставлении микрозайма
        по форме, утвержденной Генеральным директором МФО  с приложением
        документов, предусмотренных Правилами;</div>
      <div>
        Заявление должно быть написано только должностным лицом, имеющим
        право действовать от имени юридического лица.         При
        рассмотрении заявок на предоставление микрозаймов, МФО гарантирует
        соблюдение тайны об операциях своих Заемщиков. Все работники МФО
        обязаны соблюдать тайну об операциях Заемщиков МФО, а также об иных
        сведениях, устанавливаемых МФО, за исключением случаев, установленных
        законодательством Российской Федерации.</div>
      <div>
        10.2. Собеседование:</div>
      <div>
        МФО на стадии собеседования дает лицу, претендующему на получение
        микрозайма, полную и достоверную информацию о порядке и об условиях
        предоставления микрозайма, о его правах и обязанностях, связанных с
        получением микрозайма, об условиях Договора микрозайма, о возможности
        и порядке изменения его условий по инициативе МФО и Заемщика, о
        перечне и размере всех платежей, связанных с получением,
        обслуживанием и возвратом микрозайма, а также в случаях нарушения
        условий Договора микрозайма. Отвечает на дополнительные вопросы, если
        они возникнут у Заявителя.
      </div>
      <div>
        10.3. Экспертиза документов:</div>
      <div>
        После принятия полного пакета документов, экспертная комиссия:</div>
      <div>-
        проводит проверку предоставленных Заявителем документов и сведений,
        указанных в анкете;</div>
      <div>-
        оценивают финансовое состояние Заявителя;</div>
      <div>-
        определяют платежеспособность Заявителя и максимально возможный
        размер займа на основании оценки его платежеспособности и
        представленного обеспечения возврата займа, а также с учетом его
        благонадежности и остатка задолженности по ранее полученным займам и
        кредитам;</div>
      <div>-
        определяют способность погашения Заявителем микрозайма с процентами.</div>
      <div>
        Срок рассмотрения вопроса о предоставлении займа зависит от  суммы
        займа, но не должен превышать от момента предоставления полного
        пакета документов до принятия решения в течение 3 (трех) рабочих
        дней.</div>
      <div>
        В случае необходимости МФО готовит соответствующие запросы для
        выяснения деловой репутации организации, ее руководителей или
        индивидуального предпринимателя и пр. информации, при этом срок
        рассмотрения Заявления&ndash;анкеты и документов, необходимых для
        получения микрозайма, продлевается до момента поступления ответа на
        запрос (срок ответа на запрос не может превышать 10 рабочих дней с
        момента его получения, кроме случаев продления указанного срока МФО),
        о принятом решении МФО обязан уведомить Заявителя в тот же рабочий
        день.</div>
      <div>
        10.4. Принятие решения о выдаче микрозайма.</div>
      <div>
        Решение о предоставлении микрозайма Заявителю или об отказе в
        предоставлении микрозайма принимает уполномоченный сотрудник МФО, на
        основании проведенной экспертизы представленных Заявителем документов
        и проведенном собеседовании.</div>
      <div>
        При принятии положительного решения о выдаче займа представитель
        МФО приступает к оформлению пакета  документов для выдачи займа:</div>
      <div>1 -
        Договор займа (микрозайма) с графиком погашения основного долга и
        процентов;</div>
      <div>
        Документы на получение микрозайма оформляются по формам и перечням,
        в соответствии с настоящим Регламентом и прочими документами МФО.
        Заем выдается при условии положительного решения уполномоченного
        сотрудника после подписания  договора.</div>
      <div>
        Договор займа должен быть заключен в письменной форме, содержать
        сведения о сумме займа, порядке выдачи, размере и порядке внесения
        платы за пользование займом, срок возврата займа, штрафные санкции за
        ненадлежащее исполнение условий договора займа, а также иные условия,
        предусматривающие надлежащее исполнение Заемщиком своих обязательств
        в соответствии с действующим законодательством. Договор действует с
        момента подписания Договора микрозайма обеими сторонами (Займодавцем
        и Заемщиком) и до полного исполнения сторонами обязанностей по
        договору. Действие Договора ограничено сроком полного погашения
        задолженности по Договору и уплаты всех платежей, предусмотренных
        Договором микрозайма.
      </div>
      <div>
        10.5. Уведомление.</div>
      <div>
        МФО в срок не позднее 3 (Трех) рабочих дней со дня принятия решения
        о выдаче микрозайма извещает:</div>
      <div>-
        Заявителей, в отношении которых принято решение о предоставлении
        микрозайма , в том числе посредством электронной почты.</div>
      <div>
        Заявителей, которым отказано в предоставлении микрозайма, &ndash; в
        устной форме либо путем направления сообщения по телефонограмме,  на
        электронную почту  или SMS- сообщением.</div>
      <div>
        10.6. Заключение Договора микрозайма
      </div>
      <div>
        При наличии необходимого и достаточного пакета документов, МФО,
        Заявитель, залогодатели, поручители подписывают Договоры микрозайма.</div>
      <div>
        10.7. Выдача микрозаймов.</div>
      <div>
        Предоставление микрозаймов осуществляется МФО в безналичном порядке
        путем перечисления денежных средств на ЭЦП &laquo;Сбербанк &ndash;АСТ&raquo;.</div>
      </div>
      <div class="_bold">11.
        ОСУЩЕСТВЛЕНИЕ КОНТРОЛЯ ЗА ИСПОЛНЕНИЕМ ДОГОВОРА МИКРОЗАЙМА</div>
      <div class="text_s">
      <div>
        11.1. Микрофинансовая организация осуществляет контроль за
        исполнением Договора микрозайма по следующим направлениям:<br>
      -
        целевое направление и использование средств займа;<br>
      -
        соблюдение графика погашения займа и уплаты процентов
      </div>
      <div>
        11.2 МФО вправе проводить проверку целевого использования микрозайма
        в любое время действия Договора микрозайма.</div>
        </div>
      <div class="_bold">
        12. ВОЗВРАТ СУММЫ МИКРОЗАЙМА И ПРОЦЕНТОВ ПО НЕЙ</div>
      <div class="text_s">
      <div>
        12.1. Погашение микрозайма производится Заемщиком  согласно
        Договора микрозайма.</div>
      <div>
        12.2. Уплата процентов за пользование микрозаймом производится
        Заемщиком согласно Договора.</div>
      <div>
        12.3. Начисление процентов за пользование микрозаймом производится
        на всю сумму выданного микрозайма, начиная с даты, следующей за днем
        образования задолженности, до даты (включительно) фактического
        зачисления денежных средств, поступивших в погашение микрозайма, на
        счет Займодавца в полном объеме и выполнения Заемщиком всех
        обязательств в соответствии с условиями Договора микрозайма.</div>
      <div>
        12.4. В случае несвоевременного погашения задолженности
        (просрочка) отсчет срока для начисления неустойки начинается со
        следующего дня после даты образования просроченной задолженности
        заканчивается датой погашения просроченной задолженности
        (включительно).</div>
       </div>
      <div class="_bold">13.
        ОТВЕТСТВЕННОСТЬ СТОРОН</div>
      <div class="text_s">

      <div>
        13.1 В случае если Заемщик не вернет Сумму займа либо вернет ее не
        полностью в установленные Договором сроки, а также в случае просрочки
        уплаты Заемщиком процентов, Займодавец вправе потребовать от Заемщика
        уплаты штрафной неустойки
      </div>
      <div>в
        размере 0.40 % (ноль целых четыре десятых) процента от
        соответствующих сумм, уплата которых просрочена, за каждый день
        превышения установленного Договором срока.
      </div>
      <div>Заемщик
        обязан уплатить указанные неустойки не позднее рабочего дня,
        следующего
      </div>
      <div>за
        днем получения Заемщиком соответствующего требования Займодавца.</div>
      <div>Взыскание
        неустойки или возмещение убытков не освобождает сторону, нарушившую
        Договор, от исполнения обязательств по настоящему Договору.</div>
      <div>
        13.2 При нарушении Заемщиком сроков погашения микрозайма
        продолжительностью свыше 10 (десять) календарных дней, Займодавец в
        соответствии с действующим законодательством РФ направляет в адрес
        Заемщика соответствующее уведомление. Заемщик считается надлежаще
        уведомленным по истечении трех рабочих дней с момента отправки
        уведомления. В случае, неоднократного допущения просроченных платежей
        по Договору микрозайма (трех и более) Займодавец вправе реализовать
        свои права посредством обращения в суд общей юрисдикции.</div>
      <div>
        13.3. В случае нарушения Заемщиком принятых на себя обязательств по
        погашению микрозайма Займодавец, по своему усмотрению, без согласия
        Заемщика может уступить третьему лицу свои права требования путем
        заключения договора возмездной уступки прав (цессии).</div>
      <div>
        13.4. За неисполнение или ненадлежащее исполнение обязательств
        Займодавец и Заемщик несут ответственность в соответствии с
        действующим законодательством РФ.</div>
      <div>
        13.5. Займодавец направляет денежные средства, поступившие от
        Заемщика, на погашение задолженности по Договору микрозайма в
        следующей очередности:</div>
      <div>-
        издержки Займодавца, связанные с погашением обязательств Заемщика по
        Договору микрозайма;</div>
      <div>-
        суммы штрафных санкций;</div>
      <div>-
        просроченные проценты по микрозайму;</div>
      <div>-
        просроченный основной долг.</div>
        </div>
      <div class="_bold">
        14. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</div>
      <div class="text_s">

      <div>
        14.1. МФО гарантирует соблюдение тайны об операциях Заемщиков, за
        исключением случаев, установленных федеральными законами.</div>
      <div>
        14.2. Для перехода к другому лицу прав Займодавца по Договору
        микрозайма согласия Заемщика не требуется.</div>
      <div>
        14.3. Заемщик не вправе передавать другим лицам свои права и
        обязанности по Договору микрозайма без предварительного письменного
        согласия Займодавца.</div>
      <div> Во
        всем остальном, что не предусмотрено настоящими Правилами, Стороны
        руководствуются действующим законодательством РФ, Договором
        микрозайма, Договором залога и иными документами, заключенными между
        МФО и Заемщиком.
      </div>
      <div>
        Настоящие Правила вступают в силу с момента внесения сведений об МФО
        в Государственный реестр микрофинансовых организаций.</div>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>
  {/content}